* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
}

/* NAV Sidebar */
.side-bar {
  position: fixed;
  text-align: center;
  background: #494CB4;
  color: white;
  height: 100%;
  width: 50px;
  z-index: 5;
}
.side-bar .side-nav {
  margin: 20px 10px;
  cursor: pointer;
  position: relative;
}
.side-bar span {
  display: none;
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.side-bar:hover {
  width: 150px;
  text-align: left;
  padding-left: 10px;
  animation: expand 0.5s forwards;
}
.side-bar:hover span {
  display: inline-block;
  animation: SlideIn 0.5s forwards;
}
.side-bar:not(:hover) {
  animation: collapse 0.5s forwards;
}
.side-bar:not(:hover) span {
  animation: SlideOut 0.5s forwards;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}
@keyframes SlideOut {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px) translateY(-50%);
    display: none;
  }
}
@keyframes expand {
  0% {
    width: 50px;
  }
  100% {
    width: 150px;
  }
}
@keyframes collapse {
  0% {
    width: 150px;
  }
  100% {
    width: 50px;
  }
}
/* Header */
header {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
  position: relative;
  padding: 1%;
  padding-bottom: 50px;
  background: white;
}

.search-box {
  float: left;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.search-box input {
  float: left;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  width: 170px;
  transition: width 0.5s;
}
.search-box input::-moz-placeholder {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}
.search-box input::placeholder {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}
.search-box input:focus {
  width: 300px;
  outline: none;
  border-color: #87CEEB;
  box-shadow: 0 0 5px rgba(135, 206, 235, 0.3);
}
.search-box input:focus header {
  padding-bottom: 100px;
}
.search-box i {
  float: right;
  background: #343A40;
  color: white;
  border-radius: 5px;
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .search-box {
    display: none;
  }
}

.icons-box {
  float: right;
  margin-right: 10px;
  color: grey;
}
.icons-box i {
  padding: 10px 20px;
  position: relative;
}
.icons-box i:nth-child(1)::after {
  content: "5";
  position: absolute;
  top: 1px;
  right: 11px;
  background-color: #FF4444;
  color: white;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  font-style: 100;
}
.icons-box i:nth-child(2)::after {
  content: "9";
  position: absolute;
  top: 1px;
  right: 11px;
  background-color: #FF4444;
  color: white;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  font-style: 100;
}
@media screen and (max-width: 768px) {
  .icons-box {
    display: none;
  }
}

.mobile-box {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  color: grey;
  display: none;
}
.mobile-box i {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .mobile-box {
    display: block;
  }
}

/* Dashboard Body */
.dashboard {
  margin-top: 25px;
  margin-left: 70px;
  width: calc(100% - 70px);
}

/* Grid-container and boxes */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: 15px;
  margin-right: 15px;
}
.grid-container .skyblue-box {
  background: white;
  width: 95%;
  min-width: 265px;
  height: 115px;
  border-radius: 8px;
  border-left: 4px solid skyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}
.grid-container .skyblue-box div {
  margin-left: 8%;
}
.grid-container .skyblue-box div p {
  margin-bottom: 6%;
}
.grid-container .skyblue-box i {
  margin-right: 8%;
  color: grey;
}
.grid-container .green-box {
  background: white;
  width: 95%;
  min-width: 265px;
  height: 115px;
  border-radius: 8px;
  border-left: 4px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}
.grid-container .green-box div {
  margin-left: 8%;
}
.grid-container .green-box div p {
  margin-bottom: 6%;
}
.grid-container .green-box i {
  margin-right: 8%;
  color: grey;
}
.grid-container .navy-box {
  background: white;
  width: 95%;
  min-width: 265px;
  height: 115px;
  border-radius: 8px;
  border-left: 4px solid navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}
.grid-container .navy-box div {
  margin-left: 8%;
}
.grid-container .navy-box div p {
  margin-bottom: 6%;
}
.grid-container .navy-box i {
  margin-right: 8%;
  color: grey;
}
.grid-container .orange-box {
  background: white;
  width: 95%;
  min-width: 265px;
  height: 115px;
  border-radius: 8px;
  border-left: 4px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}
.grid-container .orange-box div {
  margin-left: 8%;
}
.grid-container .orange-box div p {
  margin-bottom: 6%;
}
.grid-container .orange-box i {
  margin-right: 8%;
  color: grey;
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-left: 0;
  }
}

.bottom-container {
  margin-top: 35px;
  background-color: white;
}

.overview-container {
  float: left;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
  width: 745px;
  border-radius: 8px;
  background: white;
}
.overview-container .overview-title {
  background: #F9F9F9;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding: 13px 20px;
}
.overview-container .overview-canvas {
  background: white;
  padding: 13px 20px;
}
@media screen and (max-width: 768px) {
  .overview-container {
    width: 95%;
  }
}

.tasks-container {
  float: right;
  margin-right: 30px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
  width: 395px;
  border-radius: 8px;
}
.tasks-container div {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding: 13px 20px;
}
.tasks-container table {
  background: white;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tasks-container table tr {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.tasks-container table tr td {
  padding: 13px 20px;
}
.tasks-container table tr td:last-child {
  text-align: right;
  padding-right: 30px;
  width: 70px;
}
.tasks-container table tr td:last-child p {
  display: inline-block;
  min-width: 20px;
  padding: 2px 6px;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background: #007BFF;
  line-height: 1.2;
}
.tasks-container table tr:first-child {
  border-top: none;
}
.tasks-container table tr:last-child {
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .tasks-container {
    width: 95%;
    align-items: center;
    margin-top: 35px;
  }
}/*# sourceMappingURL=portfolio3.css.map */